@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Inter;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
[class*=__container] {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #e5e5e5;
}

.main {
  flex: 1 1 100%;
}

body._lock {
  overflow: hidden;
}

.header,
.footer {
  padding: 20px 0;
}
.header__container,
.footer__container {
  display: flex;
  align-items: center;
}
.header__logo,
.footer__logo {
  font-family: Lora;
  font-weight: 500;
  font-size: 37px;
  line-height: 47px;
  flex: 0 1 28%;
  z-index: 2;
  color: #a50008;
}
.header__menu,
.footer__menu {
  flex: 1 1 43.3%;
  margin: 3.5px 0px 0px 0px;
  justify-self: center;
}

.header__burger {
  display: none;
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 2;
}
.header__burger::before, .header__burger::after,
.header__burger span {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  left: 0;
  transition: transform 0.3s ease 0s;
}
.header__burger::before {
  content: "";
  top: 0;
}
.header__burger::after {
  content: "";
  bottom: 0;
}
.header__burger span {
  top: 49%;
  transform: scale(1) translate(0, -50%);
}
.header__burger._active span {
  transform: scale(0);
}
.header__burger._active::before {
  transform: rotate(45deg);
  top: 25%;
}
.header__burger._active::after {
  transform: rotate(-45deg);
  top: 25%;
}

.footer__copyright {
  text-align: end;
  font-size: 15px;
  line-height: 130%;
  color: #716f6f;
}

.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.menu__link {
  font-size: 18px;
  line-height: 110%;
  color: #000000;
}

@media (max-width: 1165px) {
  .footer {
    padding-bottom: 30px;
    position: relative;
  }
  .footer__copyright {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 991.98px) {
  .header__logo,
.footer__logo {
    flex: 0 1 150px;
    font-size: 32px;
    line-height: 32px;
  }

  .menu__item:not(:last-child) {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .footer__menu {
    display: none;
  }

  .header__container {
    justify-content: space-between;
  }
  .header__burger {
    display: block;
  }
  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    left: -100%;
    transition: left 0.3s ease 0s;
  }
  .header__menu._active {
    left: 0;
  }
  .header__menu .menu__list {
    padding: 100px 0px 0px 0px;
    flex-direction: column;
  }
  .header__menu .menu__item {
    margin: 0px auto 10px auto;
  }
  .header__menu .menu__link {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) and (max-width: 410px) {
  .footer__copyright {
    left: 20%;
    transform: translate(0, 0);
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
.preview {
  padding: 124px 0px;
}
.preview__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.preview__title {
  font-family: "Lora";
  font-size: 100px;
  line-height: 110%;
  text-align: center;
  color: #000000;
  position: relative;
  padding: 0px 0px 30px 0px;
  max-width: 884px;
}
.preview__title span {
  font-style: italic;
  font-weight: 500;
  color: #a50008;
}
.preview__title img {
  position: absolute;
}
.preview__title img._1 {
  left: -358px;
  top: -76px;
}
.preview__title img._2 {
  right: -358px;
  top: -143px;
}
.preview__title img._3 {
  left: -358px;
  bottom: -282px;
}
.preview__title img._4 {
  right: -358px;
  bottom: -302px;
}
.preview__text {
  max-width: 580px;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  padding: 0px 0px 46px 0px;
}

.button {
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;
  color: #ffffff;
  background: #a50008;
  padding: 22px 33px;
  display: inline-flex;
}
.button p {
  margin: 0px 22px 0px 0px;
}

@media (max-width: 1165px) {
  .preview {
    padding: 60px 0px;
  }
  .preview__title img {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .preview {
    padding: 30px 0px;
  }
  .preview__title {
    font-size: 60px;
  }
  .preview__text {
    font-size: 17px;
  }

  .button {
    font-size: 16px;
  }
}
.catalog {
  padding: 96px 0;
}
.catalog__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.catalog__content {
  margin: 0px 0px 50px 0px;
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template: 1fr auto 1fr/4.5fr 5.5fr;
}
.catalog__item {
  max-width: 100%;
}
.item._1, .item._2 {
  align-self: start;
}
.item._3, .item._4 {
  align-self: center;
  margin: -15px 0px -28px 0;
}
.item._5, .item._6 {
  align-self: end;
}
.item._4 {
  justify-self: end;
}
.item._3 {
  margin-right: -67px;
  max-width: 120%;
}
@media (max-width: 1300px) {
  .item._3 {
    margin-right: 0;
    padding-right: 15px;
    max-width: 100%;
  }
}
.item._1, .item._5 {
  padding-right: 15px;
}
.item__image {
  margin: 0px 0px 20px 0px;
}
.item__image img {
  width: 100%;
  object-fit: cover;
}
.item__body {
  display: flex;
  justify-content: space-between;
}
.item__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item__buttons a {
  font-size: 15px;
  line-height: 110%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #a50008;
}

.info__name {
  font-size: 18px;
  line-height: 110%;
  text-transform: uppercase;
  color: #000000;
  margin: 0px 0px 5px 0px;
}
.info__name span {
  font-size: 15px;
  line-height: 110%;
  text-transform: uppercase;
  color: #716f6f;
}
.info__cost {
  font-family: "Lora";
  font-weight: 500;
  font-size: 25px;
  line-height: 110%;
  color: #a50008;
}

@media (max-width: 1165px) {
  .catalog {
    padding: 50px 0px;
  }
  .catalog__content {
    margin: 0px 0px 0px 0px;
    grid-template: repeat(3, 400px)/1fr 1fr;
    justify-content: center;
    align-items: baseline;
  }

  .item {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .item__image {
    flex: 1 1 auto;
    overflow: hidden;
  }
  .item__image img {
    height: 100%;
  }
  .item__buttons a {
    font-size: 14px;
  }
  .item._1, .item._2, .item._3, .item._4, .item._5, .item._6 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
    align-self: auto;
  }
  .item._1, .item._3, .item._5 {
    padding: 0px 40px 40px 0px;
  }
}
@media (max-width: 991.98px) {
  .catalog__content {
    grid-template: repeat(6, 400px)/minmax(520px, 75%);
  }

  .item._1, .item._2, .item._3, .item._4, .item._5, .item._6 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: auto;
  }

  .catalog__content {
    grid-template: repeat(6, 400px)/80%;
  }
}
@media (max-width: 767.98px) and (max-width: 540px) {
  .catalog__content {
    grid-template: repeat(6, 400px)/100%;
  }
}
@media (max-width: 767.98px) {
  .item__body {
    flex-direction: column;
  }
  .item__info {
    margin: 0px 0px 7px 0px;
  }
  .item__buttons a {
    margin: 0px 0px 7px 0px;
  }
}
.director {
  padding: 54px 0;
  margin: 6% 0px;
  background: #a50008;
}
.director__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -6% auto;
}
.director__images {
  flex: 0 0 37.5%;
  position: relative;
}
.director__images img {
  width: 100%;
  height: 95%;
  object-fit: cover;
}
.director__tabs {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 170px;
  width: 100%;
}
.director__tabs span {
  cursor: pointer;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #000000;
  border-radius: 50%;
}
.director__tabs span._active {
  width: 10px;
  height: 10px;
  background: #a50008;
}

.info-director {
  padding: 0px 50px;
}
.info-director__title {
  font-family: Lora;
  font-size: 50px;
  line-height: 64px;
  color: #ffffff;
  margin: 0px 0px 5px 0px;
}
.info-director__subtitle {
  font-family: Lora;
  font-size: 25px;
  line-height: 110%;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}
.info-director__text {
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  display: flex;
}
.info-director__text p {
  flex: 0 1 50%;
}
.info-director__text p:not(:last-child) {
  padding: 0px 33px 0px 0px;
}

@media (max-width: 1165px) {
  .info-director {
    padding: 0 20px;
  }

  .director {
    padding: 60px 0px;
  }
}
@media (max-width: 991.98px) {
  .director {
    padding: 60px 0px;
    margin: 0px 0px 0px 0px;
  }
  .director__container {
    margin: 0 auto;
    flex-direction: column-reverse;
  }
  .director__images img {
    max-height: 400px;
  }
  .director__tabs span._active {
    background: #000;
  }

  .info-director {
    padding: 0 0 30px 0;
  }
}
@media (max-width: 767.98px) {
  .info-director__title {
    line-height: 50px;
    margin: 0px 0px 10px 0px;
  }
  .info-director__subtitle {
    font-size: 22px;
  }
  .info-director__text {
    display: block;
  }
  .info-director__text p:not(:last-child) {
    padding: 0px 0px 20px 0px;
  }
}
.blog {
  padding: 126px 0px;
}
.blog__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.blog__title {
  margin: 0px 0px 30px 0px;
  font-family: Lora;
  font-weight: 400;
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}
.blog__button {
  font-size: 25px;
  line-height: 110%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #a50008;
}
.blog__items {
  flex: 0 1 100%;
  display: flex;
  justify-content: space-between;
}
.blog__item {
  flex: 0 1 31%;
}

.item-blog__image {
  overflow: hidden;
  width: 100%;
}
.item-blog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-blog__date {
  padding: 20px 0px 10px 0px;
  font-size: 15px;
  line-height: 85%;
  color: #716f6f;
}
.item-blog__title {
  padding: 0px 0px 10px 0px;
  font-family: Lora;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #a50008;
}
.item-blog__text {
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

@media (max-width: 1165px) {
  .blog {
    padding: 60px 0px;
  }
}
@media (max-width: 767.98px) {
  .blog__title {
    margin: 0px 0px 10px 0px;
  }
  .blog__button {
    font-size: 20px;
    flex: 0 1 100%;
    margin: 0px 0px 20px 0px;
  }
  .blog__items {
    flex-direction: column;
    align-items: center;
  }

  .item-blog {
    max-width: 520px;
  }
  .item-blog__image {
    max-height: 300px;
  }
  .item-blog:not(:last-child) {
    margin: 0px 0px 60px 0px;
  }
}
.location {
  padding: 24px 0px 150px 0px;
}
.location__container {
  display: flex;
}
.location__body {
  flex: 0 0 470px;
}
.location__title {
  font-family: Lora;
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}
.location__map {
  flex: 0 1 930px;
  width: 100%;
}
.location__map iframe {
  width: 100%;
  height: 100%;
  display: none;
}
.location__map iframe._active {
  display: block;
}

.item-location {
  margin: 16px 0px 16px 30px;
  cursor: pointer;
  transition: background 0.6s ease 0s;
}
.item-location__title {
  font-family: Lora;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #000;
}
.item-location__street {
  font-size: 18px;
  line-height: 130%;
  color: #716f6f;
}
.item-location__number {
  display: none;
  font-family: Lora;
  font-weight: 500;
  font-size: 25px;
  line-height: 130%;
  color: #ffffff;
}
.item-location__time {
  display: none;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
.item-location._active {
  cursor: auto;
  margin: 30px 0px 30px 0px;
  padding: 10px 30px;
  background: #a50008;
}
.item-location._active .item-location__title {
  color: #fff;
}
.item-location._active .item-location__street {
  color: #fff;
}
.item-location._active .item-location__number {
  display: block;
  padding: 16px 0px 0px 0px;
}
.item-location._active .item-location__time {
  display: block;
}
.item-location:last-child._active {
  margin-bottom: 0;
}

@media (max-width: 991.98px) {
  .location {
    padding: 24px 0px 50px 0px;
  }
  .location__container {
    flex-direction: column;
  }
  .location__map {
    flex: 0 1 400px;
  }
  .location__map iframe {
    height: 400px;
  }
}