@import "nullStyle.scss";

/*                  wrapper                  */
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

[class*="__container"] {
   max-width: 1087px;
   padding: 0 15px;
   margin: 0 auto;
}

body._lock {
   overflow: hidden;
}
/*========================================================*/

/*                  header                  */
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;

   &__container {
      display: flex;
      justify-content: space-between;
      min-height: 114px;
      align-items: center;
   }

   &__menu {
      flex: 1 1 auto;
   }

   &__button {
      flex: 0 0 252px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   &__burger {
      display: none;
      width: 30px;
      height: 18px;
      position: relative;
      margin-left: 10px;

      span,
      &::after,
      &::before {
         position: absolute;
         left: 0;
         height: 10%;
         width: 100%;
         background: #000;
         transition: all 0.4s ease 0s;
      }
      &::after,
      &::before {
         content: "";
      }

      &::after {
         bottom: 0;
      }

      &::before {
         top: 0;
      }

      span {
         top: 50%;
         transform: scale(1) translate(0, -50%);
      }

      &._active {
         span {
            transform: scale(0);
         }
         &::after {
            top: 50%;
            transform: rotate(45deg) translate(0px, -50%);
         }
         &::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
         }
      }
   }
}

.menu {
   &__list {
      display: flex;
      justify-content: flex-end;
   }

   &__item {
      margin: 0px 40px 0px 0px;
   }

   &__link {
      font-family: Raleway;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.14em;
      color: #000000;
   }
}
/*========================================================*/

.button {
   padding: 13px 30px;
   border-radius: 5px;
   background: #ec5863;

   font-family: Raleway;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 10px;
   line-height: 12px;
   letter-spacing: 0.14em;
   color: #fcfdfe;

   cursor: pointer;

   &-blue {
      background: #4285f4;
   }
}

/*                  main                  */

.main {
   flex: 1 1 auto;
}

.get-started {
   background: #fafbfd;

   &__container {
      padding: 153px 15px 48px 15px;
      display: flex;
      align-items: start;
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;

      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 252px;
         width: 100%;
         height: 100%;
         transform: translate(100%, 0);
         padding: 0px 0px 0px 0px;
         background-color: #ec5863;
         border-radius: 30px 0px 0px 30px;
      }
   }

   &__content {
      flex: 1 1 100%;
      display: flex;
      align-items: center;
   }

   &__block-text {
      margin: 0px 0px 0px 18px;
      flex: 0 1 50%;
      padding: 0px 20px 0px 0px;
      &-text {
         max-width: 375px;
      }
   }

   &__image {
      flex: 0 1 50%;
      margin: 0px 10px 0px 0px;
      z-index: 2;
      img {
         max-width: 100%;
      }
   }
}

.block-text {
   display: flex;
   flex-direction: column;
   align-items: start;

   &__title {
      font-weight: 700;
      font-size: 44px;
      line-height: 126%;
      margin: 0px 0px 12px 0px;

      span {
         color: #ec5863;
      }

      &-blue span {
         color: #4285f4;
      }
   }

   &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 138.5%;

      margin: 0px 0px 24px 0px;

      letter-spacing: 0.08em;

      color: #616161;
   }
}

.video-get-started {
   margin: 60px 0px 0px 18px;
   display: flex;
   cursor: pointer;

   &__icon {
   }

   &__body {
      padding: 0px 0px 0px 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__title {
      font-weight: 400;
      font-size: 13px;
      line-height: 126%;
      margin: 0px 0px 5px 0px;

      letter-spacing: 0.08em;

      color: #b0b0b0;
   }

   &__text {
      font-weight: 400;
      font-size: 9px;
      line-height: 126%;

      letter-spacing: 0.165em;
      text-transform: uppercase;
   }
}

.features {
   padding: 135px 0px 106px 0px;
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
   }

   &__phone {
      margin: 0px 0px 0px -28px;
      position: relative;

      img {
         max-width: 100%;
         filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
         position: relative;
         z-index: 2;
      }

      &::after {
         content: "";
         position: absolute;
         width: 206px;
         height: 27px;
         background: rgba(240, 240, 240, 0.49);
         border-radius: 16px;
         bottom: -12px;
         left: 12px;
      }
   }

   &__decor {
      background: #ec5863;
      width: 77px;
      height: 77px;
      border-radius: 30px;
      position: absolute;
      &._1 {
         width: 147px;
         height: 147px;
         top: -56px;
         left: -71px;
      }

      &._2 {
         left: -39px;
         bottom: -27px;
      }

      &._3 {
         bottom: 80px;
         right: -39px;
      }
   }

   &__body {
      flex: 0 1 379px;
      margin: 0px 0px 0px 35px;
   }
}

.experts {
   background: #fafbfd;
   padding: 110px 0;

   &__container {
   }

   &__body {
      padding: 80px 0px 0px 0px;
      display: flex;
      // align-items: center;
   }

   &__block-text {
      flex: 0 1 50%;
      align-self: center;
      padding: 0px 20px 0px 40px;
      .block-text__text {
         max-width: 363px;
      }
   }

   &__video {
      background: #fff;
      flex: 0 1 521px;
      height: 284px;
      margin: 0px 0px 0px 14px;
      box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      .experts__playBut {
         position: absolute;
         z-index: 3;
      }
   }
}

.stats {
   max-width: 654px;
   margin: 0 auto;
   position: relative;

   &__body {
      box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
      background: #fff;
      padding: 28px 80px;
      border-radius: 16px;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__item {
      text-align: center;
   }

   &__value {
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      letter-spacing: 0.14em;
      margin: 0px 0px 5px 0px;

      color: #ec5863;
   }

   &__name {
      font-weight: 700;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.37em;
      text-transform: uppercase;

      color: #000000;
   }

   &__decor {
      position: absolute;
      background: #ec5863;
      border-radius: 30px;

      &._1 {
         width: 65px;
         height: 65px;
         border-radius: 16px;
         transform: rotate(-30deg);

         left: -31px;
         bottom: -31px;
      }
      &._2 {
         width: 96px;
         height: 96px;
         transform: rotate(105deg);
         left: 220px;
         top: -40px;
      }
      &._3 {
         width: 127px;
         height: 127px;
         transform: rotate(-30deg);
         right: -52px;
         bottom: -10px;
      }
   }
}

.healthcare {
   padding: 80px 0px 70px 0px;
   &__container {
   }

   &__block-text {
      margin: 0px 0px 46px 0px;
      text-align: center;
      align-items: center;

      &-text {
         max-width: 600px;
      }
   }
}

.content {
   display: flex;
   justify-content: space-between;
   padding: 0 35px;

   &__column {
      flex: 0 1 278px;
      margin: 0px 10px;
      position: relative;

      &:first-child {
         margin-left: 0;
      }
      &:last-child {
         margin-right: 0;
      }
   }

   &__item {
      position: relative;
      background: #ffffff;
      z-index: 2;
      padding: 36px 17px;
      min-height: 276px;
      box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }

   &__icon {
      padding: 0px 0px 20px 0px;
   }

   &__body {
   }

   &__title {
      margin: 0px 0px 4px 0px;
      font-weight: 700;
      font-size: 16px;
      line-height: 138.5%;
      text-align: center;
      letter-spacing: 0.08em;
      color: #000000;
   }

   &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 138.5%;
      text-align: center;
      letter-spacing: 0.08em;
      color: #616161;
   }
}

.content-item__decor {
   border-radius: 16px;
   position: absolute;
   width: 65.75px;
   height: 65.75px;
   background: #ec5863;
   transform: rotate(-30deg);
   &._1 {
      left: -18px;
      bottom: -33px;
   }
   &._2 {
      border-radius: 30px;
      width: 96.96px;
      height: 96.96px;
      top: 42px;
      right: -50px;
      transform: rotate(105deg);
   }
   &._3 {
      width: 127.47px;
      height: 127.47px;
      border-radius: 30px;
      bottom: -23px;
      right: -79px;
   }
   &._4 {
      top: -34px;
      right: -19px;
   }
}

/*========================================================*/

.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   img {
      padding: 0px 28px 40px 28px;
   }
}

@import "adaptive.scss";
